%p#notice= notice

%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Email:
  = @user.email
%p
  %b Cellphone:
  = @user.cellphone
%p
  %b Address:
  = @user.address
%p
  %b City:
  = @user.city
%p
  %b State:
  = @user.state

  = image_tag @user.thumbnail_photo
= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
